/* NavbarStyles.css */

.custom-navbar {
  background-color: #222222;
}

.custom-navbar h1 {
  color: white;
}

.custom-navbar a {
  color: white;
}

.custom-navbar a:hover {
  color: #888888;
}

.custom-navbar .dropdown-menu a {
  color: #222222;
}

.custom-navbar .dropdown-menu a:hover {
  color: #888888;
}
